* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("images/background_pattern_green_blue.PNG");
}

.gameElements {
    display: flex;
    justify-content: center;
    margin: 0 10px;
}

.canvasContainer {
    display: block;
}

#gameCanvas {
    display: block;
    margin: 10px auto;
    background: black;
}

.inGameInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
}

.nextGemDisplay {
    display: flex;
    justify-content: center;

}

#uiCanvas {
    display: block;
    background: black;
}

.gameStatistics {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#scoringBackgroundSpace {
    display: block;
    width: 60px;
    height: 30px;
    background: black;
    color: white;
    margin: 5px 0;
}

#numberGemsBackgroundSpace {
    display: block;
    width: 60px;
    height: 30px;
    background: black;
    color: white;
    margin: 5px 0;
}

#difficultyBackgroundSpace {
    display: block;
    width: 60px;
    height: 30px;
    background: black;
    color: white;
    margin: 5px 0;
}

#runButton {
    display: block;
    margin: 0 auto;
}